<div ui-view="retiros_main">
    <gs-row>
        <gs>
            <box>
                <gs-row>
                    <gs>
                        <header>
                            <h3 style="color:#2980b9">Tipo de Aporte</h3>
                        </header>
                    </gs>
                </gs-row>
                <gs-row>
                    <gs>
                        <form name="form.fieldsFechas">                            
                                <label gui="label">Tipo de Aporte:
                                    <select gui="input-control" type="text"
                                        ng-options="item as item.numNumeroDeProducto for item in cuentas"
                                        ng-model="numCuentaSeleccionada" required readonly>
                                        <option value="" selected="selected">Seleccione...</option>
                                    </select>
                                </label>
                            </gs>
                        </form>
                    </gs>
                </gs-row>
                <gs-row>
                    <gs push-right>
                        <button gui="form-button" bg-color="alizarin" ng-disabled="false"
                            ng-click="$gui.aceptar()">Aceptar</button>
                    </gs>
                </gs-row>
            </box>
        </gs>
    </gs-row>

    <gs-row ng-if="captionService.estado">
        <gs>
            <box>
                <gui-caption text-align="center" type="{{captionService.tipoCaption}}"
                    ng-model="captionService.mensaje">
                </gui-caption>
            </box>
        </gs>
    </gs-row>
</div>