<div ui-view="cdat_main">

    <gs-row>
        <gs col="100/1">
            <box>

                <header>
                    <h3 style="color:#2980b9">¿Qué desea hacer el cliente?</h3>
                </header>

                <gs-row>
                    <gs col="x-100/5|md-6">
                        <label gui="label">En la apertura:</label>
                        <button gui="form-button" bg-color="alizarin" ui-sref=".caracteristicas">Simulaci&oacute;n y Apertura</button>
                    </gs>
                </gs-row>

                <gs-row>
                    <gs col="x-100/5|md-6">
                        <label gui="label">En el vencimiento:</label>
                        <button gui="form-button" bg-color="alizarin" ui-sref=".reinversion">Reinversi&oacute;n</button>
                    </gs>
                </gs-row>

                <gs-row>
                    <gs col="x-100/5|md-6">
                        <button gui="form-button" bg-color="alizarin" ui-sref=".cancelacion">Cancelaci&oacute;n</button>
                    </gs>
                </gs-row>

            </box>
        </gs>
    </gs-row>

</div>
