<div class="aside-logo">
    <img src="resources/img/dav-apps.png" height="18" />
</div>

<ul>
    <li><a ui-sref="app.forms"><i class="fa fa-fw fa-th-list"></i> <span>Formularios</span></a></li>
    <li><a ui-sref="app.tables"><i class="fa fa-fw fa-table"></i> <span>Tablas y Listados</span></a></li>
    <li><a ui-sref="app.profile"><i class="fa fa-fw fa-user-circle"></i> <span>Perfil</span></a></li>
    <li><a ui-sref="app.subsections"><i class="fa fa-fw fa-th-large"></i> <span>Sub Secciones</span></a></li>
</ul>
