<div>
    <div>
        <gs-row>
            <gs>

                <!-- PRODUCTO SOLICITADO -->
                <box>

                    <gs-row>
                        <gs>
                            <header>
                                <h3 style="color:#2980b9">{{ caption.autoriza }}</h3></header>

                            <gs-row>
                                <gs>
                                    <div gui="wysiwyg" ng-bind-html="textos.texto2">
                                    </div>
                                </gs>
                            </gs-row>
                            <gs>
                                <hr/>
                            </gs>

                            <gs pull-left>
                                <button gui="form-button" ng-click="$gui.regresar()" bg-color="concrete">Regresar</button>
                            </gs>
                    </gs-row>
                </box>

                </gs>
        </gs-row>

    </div>
</div>
