<div>


    <div>


        <gs-row ng-show="caption.listas.status">
            <gs>
                <box>
                    <gs-row>
                        <gs>
                            <gui-caption type="{{ caption.listas.status }}" ng-model="caption.listas.content" text-align="center"></gui-caption>
                        </gs>
                    </gs-row>
                </box>
            </gs>
        </gs-row>
        <gs-row ng-if="caption.listas.status === 'success'">
            <gs>

                <box>
                    <gs-row>
                        <gs>
                            <gui-caption type="info" ng-model="caption.informacion" text-align="center"></gui-caption>
                        </gs>
                    </gs-row>
                </box>

                <!-- PRODUCTO SOLICITADO -->
                <box>

                    <gs-row>
                        <gs>
                            <header>
                                <h3 style="color:#2980b9">{{ caracteristicas }}</h3></header>

                            <gs-row>
                                <gs>
                                    <div gui="wysiwyg" ng-bind-html="textos.texto1" >
                                    </div>
                                </gs>
                            </gs-row>
                            <gs>
                                <hr/>
                            </gs>

                            <gs push-right>
                                <button gui="form-button" bg-color="alizarin" ui-sref="^.xpress" />Continuar</button>
                            </gs>
                    </gs-row>
                </box>

                </gs>
        </gs-row>

    </div>
</div>
