<div ui-view="cdat-cancelacion-biometric">

    <gs-row>
        <gs>
            <box>
                <form>

                    <header>
                        <!-- <h3 ng-if = "llamadocancelacion == 1">Resumen</h3> -->
                        <h3 style="color:#2980b9">Confirme con el cliente la informaci&oacute;n de cancelaci&oacute;n:</h3>
                    </header>

                    <gs-row>

                      <!-- <gs col="x-12|md-12">
                          <gui-caption type="info" ng-model="caption.titleConstitucion1" text-align="center"></gui-caption>
                      </gs> -->

                      <gs col="x-6" col-push="x-3">
                        <table gui="table:table-bo  rdered:table-summary:table-fixed">
                            <tbody>
                                <!-- <tr>
                                    <th>Nombre CDAT</th>
                                    <td align="right">{{constitucion.nombre}}</td>
                                </tr> -->
                                <tr>
                                    <th>N&uacute;mero de CDAT Virtual</th>
                                    <td align="right">{{consultaCDTCDAT.numeroCompletoCDAT}}</td>
                                </tr>
                                <tr>
                                  <th>Valor actual de la inversi&oacute;n</th>
                                  <td align="right">{{consultaCDTCDAT.valorNetoPagar}}</td>
                                </tr>
                                <tr>
                                    <th>Cuenta traslado de recursos</th>
                                    <td align="right">{{cancelacion.label}}</td>
                                </tr>
                            </tbody>
                        </table>
                      </gs>

                      <gs col="x-12|md-12">
                          <gui-caption type="info" ng-model="caption.confirmHuella" text-align="center"></gui-caption>
                      </gs>
                  </gs-row>

                    <gs-row>
                        <gs>
                            <hr />
                        </gs>
                    </gs-row>

                    <gs-row>
                      <gs pull-left>
                          <button gui="form-button" bg-color="asbestos" ui-sref="^">Regresar</button>
                      </gs>

                      <gs push-right>
                          <button  gui="form-button" bg-color="alizarin" ui-sref=".biometric">Continuar</button>
                      </gs>
                    </gs-row>

                </form>
            </box>
        </gs>
    </gs-row>

</div>
