<div ui-view="retiros_main">
    <gs-row>
        <gs>
            <box>
                <gs-row>
                    <gs>
                        <header>
                            <h3 style="color:#2980b9">Seleccione la cuenta para asociar el Fondo de Inversión No.
                                {{numProdDafaturo}}:</h3>
                        </header>
                    </gs>
                </gs-row>
                <gs-row>
                    <gs>
                        <form name="form.fieldsFechas" ng-init="$gui.consultarAsociacionAFondosCuentas">
                            <gs col="x-4|md-4|sm-12" >
                                <label gui="label" >No. Cuenta para Retiros:<br>
                                    <select                                        
                                        gui="input-control" type="text"
                                        ng-options="item as item.numNumeroDeProducto for item in cuentas"
                                        ng-model="numCuentaSeleccionada"                                                                             
                                       >
                                        <option value="" >Seleccione...</option>
                                    </select>
                                </label>
                            </gs>
                            <gs col="x-4|md-4|sm-12" >
                                <label gui="label"  >Tipo de cuenta:<br>
                                    <table gui="table-bordered">
                                        <tr  gui="input-control">
                                            <td>{{numCuentaSeleccionada.valTipoId | lov: lovs.LOV_FONDOS_TIPO_CUENTA}}</td>
                                        </tr>
                                    </table>                                                                      
                                </label>
                            </gs>
                            
                            <gs col="x-2|md-4|sm-12" >
                                <label gui="label" ><br>
                                    <button gui="form-button" bg-color="alizarin" ng-disabled="false"
                                    ng-click="$gui.daviSolModCuen()">Aceptar</button>
                                </label>
                            </gs>
                        </form>
                    </gs>
                </gs-row>
                
            </box>
        </gs>
    </gs-row>

    <gs-row ng-if="captionService.estado">
        <gs>
            <box>
                <gui-caption text-align="center" type="{{captionService.tipoCaption}}"
                    ng-model="captionService.mensaje">
                </gui-caption>
            </box>
        </gs>
    </gs-row>
</div>
